body {
    background-color: white;
    color: #333333;
    font-family: coves-light;
    margin: 0;
    overflow-x: hidden;
}

.title-band {
    background-color: #1D222E;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;  /* will be changed back in js after it is resized */
}

.logo {
    color: white;
    font-family: minimalust-regular;
    font-size: 90px;
    user-select: none;
}

.title {
    font-size: 60px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.credits {
    font-size: 25px;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.credits .spacer {
    display: inline-block;
    width: 2em;
    text-align: center;
}

.hr {
    border: 1px;
    border-style: solid;
    border-color: white;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    font-size: 35px;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    /* display:table-cell; */

    /* display: flex;
    justify-content: center;
    flex-direction: column; */

    height: 2em;
}

a {
	color: #009999;
	text-decoration: none;
}

.nav-item {
    position: absolute;
    color: white;
    /* top: .5em; */line-height: 2em;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    height: 2em;
}

.vr {
    display: inline-block;
    position: absolute;
    border: 1px;
    border-style: solid;
    border-color: white;
    height: 2em;
}

.main {
    box-sizing: border-box;
    width: 100%;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-size: 20px;
}

.download {
    border: 1px;
    border-style: solid;
    border-color: #333333;
    text-align: center;
    padding: 30px;
    display: inline-block;
    color: #333333;
    font-size: 28px;
}

.countdown {
    border: 1px;
    border-style: solid;
    border-color: #333333;
    text-align: center;
    width: 80%;
    font-size: 40px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.countdown-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.countdown-value {
    font-size: 90px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@font-face {
    font-family: coves-light;
    src: url("lib/fonts/coves/Coves Light.otf") format("opentype");
}

@font-face {
    font-family: minimalust-regular;
    src: url("lib/fonts/minimalust/Minimalust Regular.otf") format("opentype");
}
